---
// src/pages/magazine/[slug].astro
import Layout from '../../layouts/Layout.astro';
import { fetchPosts } from '../../lib/fetchPosts.js';
import Sidebar from '../../components/magazine/Sidebar.astro';
import HeroTitleMobilePilot from '../../components/magazine/HeroTitleMobilePilot.astro';

const posts = await fetchPosts({ tag: 'pilot' });

// Use ACF fields to categorize the stories
const heroStory = posts.find(
  post => post.magazinePresentationOptions?.presentationslots?.includes('hero')
);

console.log({
  title: heroStory.title,
  line1: heroStory.heroTitleLine1,
  line2: heroStory.heroTitleLine2
});

const featuredStories = posts
  .filter(post => post.magazinePresentationOptions?.presentationslots?.includes('featured'))
  .reverse();

const teaserStories = posts.filter(
  post => post.magazinePresentationOptions?.presentationslots?.includes('teaser')
);

const line1 = heroStory.magazinePresentationOptions?.heroTitleLine1 ?? story.title;
const line2 = heroStory.magazinePresentationOptions?.heroTitleLine2 ?? '';



const { proseStyle = 'prose-magazine' } = Astro.props;

---
<Layout section="magazine">
  <div class={`grid grid-cols-1 md:grid-cols-[250px_1fr] min-h-screen relative ${proseStyle}`}>
    
    <Sidebar
      publicationTitle="Pilot Magazine"
      issueInfo="Feb 2025 | No. 178"
      coverImg="/images/proxy/pilot-mag.jpg"
      bgColor="#003440"
    />


    <section class="bg-black text-white">
      <!-- Hero -->
      {heroStory && (
        <section
          class="relative flex items-center bg-size-[var_201%] lg:bg-size-[var_101%] bg-center text-white rounded shadow-lg p-6 min-h-[540px]"
          style={`background-image: url('${heroStory.featuredImage?.node?.sourceUrl}');`}
        >

          <HeroTitleMobilePilot />

          <!-- Headline block -->
          <div class="w-full px-4 hidden md:block">
            <span class="opacity-80">
              <h1 class="text-[#0aa7b7] text-right inline-block leading-[0.75] uppercase mb-20">
                <span class="block text-[4.5rem] font-extrabold tracking-tight font-knockout p-0 m-0">
                  {line1}
                </span>
                <span class="block relative text-[5rem] font-medium tracking-[0.02em] font-subheading mt-2 p-0 m-0">
                  <span class="absolute left-0  w-36 h-1 bg-[#368bc4] p-0 m-0"></span>
                  {line2}
                </span>
              </h1>
            </span>
            <ul class="tracking-wide">
              {teaserStories.map(story => (
                  <li class="font-subheading text-3xl uppercase mb-3 hover:opacity-75">                
                    <a href={`/magazine-post/${story.slug}`}>{story.title}</a>  
                  </li>
              ))}
            </ul>
          </div>
        </section>

      )}

      <!-- Featured Stories -->
      <section class="bg-gray-800 p-10 ">
          <h2 class="inline-block uppercase pb-0 pr-0 pl-10 font-subheading text-2xl text-aopa-ltblue mb-4 mt-12 tracking-widest border-b-4 border-aopa-ltblue">
            FEATURES
          </h2> 
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
          <!-- this is ome astro with jsx in it -->

          {featuredStories.map(story => {
            const sizes = story.featuredImage?.node?.mediaDetails?.sizes;

           

            const thumb = sizes?.find(size => size.name === "medium")?.sourceUrl
              ?? story.featuredImage?.node?.sourceUrl;

            return (
              <article>
                <a href={`/magazine-post/${story.slug}`}>
                  <img class="w-full" src={story.featuredImage?.node?.mediaDetails?.sizes?.find(size => size.name === "story-thumb")?.sourceUrl ?? story.featuredImage?.node?.sourceUrl
                  } alt={story.title} class="..." />
                </a>
                <a href={`/magazine-post/${story.slug}`}>                
                  <h3 class="mb-2 mt-4 font-subheading text-3xl uppercase">{story.title}</h3>
                </a>
                <p class="mb-2">
                  {story.excerpt.replace(/<[^>]*>/g, '').split(' ').slice(0, 30).join(' ') + '...'}
                </p>
                <a class="text-[#14c682]" href={`/magazine-post/${story.slug}`}>Read more</a>
              </article>
            );
          })}
        </div>
      </section>
    </section>
  </div>
</Layout>
