---
// src/components/SitemapCard.astro
const { name, route, palette, fonts } = Astro.props;
---

<a href={route} class="block border rounded-lg p-4 hover:shadow-md transition 
         bg-white text-black border-gray-200 
         dark:bg-gray-800 dark:text-white dark:border-gray-700">
  <h3 class="font-gothamBold text-md uppercase tracking-wide mb-1">{name}</h3>
  <p class="text-sm text-gray-500">{route}</p>
  <p class="text-sm text-gray-500">{palette}</p>
  <p class="text-sm text-gray-500">{fonts}</p>

</a>

